@import "./hy-element-ui.scss";

[test] {
  background-color: lightcoral;
  border: 3px solid blueviolet;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[header],
[footer] {
  background-color: #8caad1;
  background-image: linear-gradient(120deg,  #8ca9cf, rgb(121, 131, 226));
  color: #333;
  padding: 3px 14px;
  display: flex;
  align-items: center;
  width: 100%;
}

[body],
[body-vertical] {
  background-color: #E9EEF3;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

[body-horizontal] {
  background-color: #E9EEF3;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  justify-items: stretch;
  background-size: cover;
}

[side] {
  background-color: #545c64;
}

[comment] {
  font-size: 13px;
  color: #999;
}

[title]{
  font-weight: bold;
  color: black;
  font-family: "Microsoft YaHei";
  //text-shadow: black 0.05em 0.05em 0.05em
}

[content] {
  font-size: 16px;
  color: rgb(1, 66, 63);
}

[main]{
  padding:8px 13px;
  background-color: #E9EEF3;
}